@font-face {
    font-family: 'kolossregular';
    src: url('../fonts/koloss.regular-webfont.woff') format('woff'),
         url('../fonts/koloss.regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Avenir Light'; /*a name to be used later*/
    src: url('../fonts/avenir-light.ttf'); /*URL to font*/
}

.rwr{
    font-family:  'kolossregular';
}
h1{
    color:white;
}
h2{
    padding-top: 3em;
    padding-bottom: 50px;
    color: #562894;
}
h5, p, .me-2{
    font-family: 'Avenir Light';
}
h5{
    font-weight: bold;
}


a{
    font-size: 15px;
    font-family: 'Avenir Light';
}
#dive{
    text-align: center;
}
section{
    padding-top:  50px;
    padding-bottom: 50px;
}
.carousel-control-prev-icon-my{
   background-image: url(../images/arrows/prev.svg);
   height:50px;
   width: 50px;
  
}
.carousel-control-next-icon-my{
    background-image: url(../images/arrows/next.svg);
    height:50px;
    width: 50px;
    
}
.carousel-control-prev{
    margin-left: -150px;
}
.carousel-control-next{
    margin-right: -150px;
}

.bg-darkk{
background-color:#562894;
}

.navbar-toggler-iconn{
    background-image: url(../images/menu.svg);
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.btn-outline-success{
    color: #04cdae;
    border-color: #04cdae;
    font-family: 'Avenir Light';
}

.btn:hover{
    background-color: white;
    color: #04cdae;
    
}
footer{
    background-color:#562894;
    margin-top: 80px;
    height: 250px;
    color: white;
}
footer .container{
    padding-top: 45px;
}
.footer_links{
color: white;
text-decoration: none;
display: block;
margin-top: .5em;
}
.container-fluid{
    padding-right: 10%;
    padding-left: 10%;
}
.w-100{
    max-width:900px;
}
